<launch>
	<param name="robot_description" command="$(find xacro)/xacro '$(find bbot_description)/urdf/bbot.xacro' --inorder"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />

	<include file="$(find bbot_base)/launch/bbot_base.launch" />
	<include file="$(find bbot_control)/launch/bbot_control.launch" />
	<include file="$(find bbot_driver)/launch/bbot_drivers.launch" />
	<include file="$(find bbot_teleop)/launch/bbot_teleop.launch" />
</launch>