<launch>
	<arg name="rvizconfig" default="$(find bbot_description)/rviz/bbot_navigation.rviz" />
	<arg name="model" default="$(find bbot_description)/urdf/bbot.xacro" />
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="false"/>

	<include file="$(find bbot_navigation)/launch/bbot_navigation.launch" />
</launch>
