<?xml version="1.0" encoding="utf-8"?>
<robot name="bbot"
	xmlns:xacro="http://www.ros.org/wiki/xacro">
	<!-- lidar -->
	<link name="bbot_lidar">
		<inertial>
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<mass value="0"/>
		<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
	</inertial>
	<visual>
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<geometry>
			<mesh filename="package://bbot_description/meshes/bbot_lidar.STL"/>
		</geometry>
		<material name="Yellow" />
	</visual>
	<collision>
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<geometry>
			<mesh filename="package://bbot_description/meshes/bbot_lidar.STL"/>
		</geometry>
	</collision>
	</link>
	<joint name="lidar_to_base" type="fixed">
		<origin xyz="-0.01 0 0.1849" rpy="0 0 ${PI}"/>
		<parent link="bbot_base"/>
		<child link="bbot_lidar"/>
		<axis xyz="0 0 0"/>
	</joint>
</robot>